<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <a class="navbar-brand">{{pageTitle}}</a>
            <ul class="nav navbar-nav">
                <li routerLinkActive="active">
                    <a [routerLink]="['/welcome']">Home</a>  <!-- the purpose of this is to activate a route -->
                </li>
                 <li>
                    <a [routerLink]="['/products']">Product List</a> <!-- the purpose of this is to activate a route -->
                </li>
                <li>
                    <a [routerLink]="['/products', 0, 'edit']">Add Product</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="authService.isLoggedIn()">
                    <a>Welcome {{ authService.currentUser.userName }}</a>
                </li>
                <li>
                    <a>Show Messages</a>
                </li>
                <li *ngIf="!authService.isLoggedIn()">     <!-- activate our new login route when the user selects this option -->
                    <a [routerLink]="['/login']">Log In</a>
                </li>
                <li *ngIf="authService.isLoggedIn()">
                    <a (click)="logOut()">Log Out</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <!--this means put the components you find find in the "routes"
        object here.
        This is the route object we defined in app.module.ts:
        // let routes =[
        //   {path: 'welcome', component: WelcomeComponent},
        //   {path: '', redirectTo: 'welcome', pathMatch: 'full'},
        //   {path: '**', component: PageNotFoundComponent}
        // ];
        ];
        so if welcome for example is clicked, the welcome.component will show up here

  -->
        <router-outlet></router-outlet>
    </div>
</div>